* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* line-height: 1.6em; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-main {
    border-top: 5px solid #81c81c;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.w-100 {
    width: 100%;
}

.w-1140 {
    width: 1140px;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


.main-container {
    width: 1140px;
    margin: auto;
    padding: 0px 15px;
}

.header {
    background-color: #191919;
}
.w-20 img{
    margin-right: auto;

}
.w-20 {
    margin-right: 16px;
    padding: 5px 0px;
} 

.w-80 { 
   
    width: 80%;
    position: relative;
}

.w-80 ul li a:hover {
    color: #81c81c;
    transition: 0.35s;

}

.w-80 ul li a {
    font-size: 14px;
    padding: 20px 15px 18px;
    color: #fff;
}

.w-80 ul ul {
    display: none;
}
/* .w-80 ul{
    display: none;
} */

.nav-icon{
    border: 1px solid #81c81c;
    background-color: #81c81c;
    padding: 0px 8px;
}


.menu {
    padding-top: 20px;
    position: absolute;
    /* background-color: #191919; */
}

.menu ul li a {
    padding: 10px 20px !important;
    display: block;
    color: #191919;
    width: 100%;
    text-align: left;
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
}

.w-80 ul li:hover ul {
    display: block;
}

.just-end {
    justify-content: end;
}

.gap {
    column-gap: 30px;
}

.align-i {
    align-items: center;

}


@media (max-width:1200px) {
    .main-container{
        width: 1140px;
    }
    .header-main .main-container .flex{
        flex-wrap: nowrap;
    }
}

@media (min-width:993px) and (max-width:1170px) {
    .main-container{
        width: 960px;
    }
}
@media (max-width:992px) {
    .main-container{
        width: 960px;
    }
}
@media (min-width:769px) and (max-width:990px) {
    .main-container{
        width: 720px;
    }
    .justify{
        justify-content: space-between;
    }
    .w-80{
        display: none;
    }
   
}
@media (max-width:768px) {
    .main-container{
        width: 720px;
    }
}
@media (min-width:569px) and (max-width:769px) {
    .main-container{
        width: 540px;
    }
    .w-80{
        display: none;
    }
    .justify{
        justify-content: space-between;
    }
   
}

@media (max-width:568px) {
    .main-container{
        width: 540px;
    }
}





