* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    line-height: 1.6em;
    /* box-sizing: border-box; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.w-100 {
    width: 100%;
}

.w-1140 {
    width: 1140px;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.just-center {
    justify-content: center;
}

.parallax {
    width: 100%;
    display: block;
    background-image: url(https://demo.themefisher.com/bizcraft/images/parallax/parallax1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0px;
    color: #fff;
    position: relative;

}

.parallax::before {
    content: '';
    background-color: rgba(6, 6, 6, 0.6);
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.parallax-content {
    width: 1140px;
    margin: auto;
    padding: 0px 15px;
}

.parallax-col {
    z-index: 1;
    position: relative;
}

.parallax-col h3 {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    margin: 0px 0px 30px;
}

.parallax-col h2 {
    font-weight: 400;
    color: #fff;
    font-size: 32px;
    margin: 0px 0px 8px;
}

.parallax-col p a {
    color: #fff;
    margin-right: 10px;
    border: 2px solid;
    border-radius: 50px;
    padding: 10px 30px;
    border-color: #fff;

}

.parallax-col span a {
    color: #81c81c;
    margin-right: 10px;
    border: 2px solid;
    border-radius: 50px;
    padding: 10px 30px;
    border-color: #81c81c;
    display: inline-block;

}

.parallax-col p a:hover {
    background-color: #fff;
    color: #323232;
    transition: 0.5s;
}

.parallax-col span a:hover {
    background-color: #81c81c;
    color: #fff;
    transition: 0.5s;
}


@media (max-width:1200px) {
    .parallax-content {
        width: 1140px;
        margin: auto;
        padding: 0px 15px;
    }
}

@media (min-width:992px) and (max-width:1140px) {
    .parallax-content {
        width: 960px;
        margin: auto;
        padding: 0px 15px;
    }
}

@media (max-width:992px) {
    .parallax-content {
        width: 960px;
        margin: auto;
        padding: 0px 15px;
    }
}

@media(min-width:767px) and (max-width:960px) {
    .parallax-content {
        width: 720px;
        margin: auto;
        padding: 0px 15px;
    }

    .parallax {
        padding: 60px 0px;
    }
}

@media (max-width:768px) {
    .parallax-content {
        width: 720px;
        margin: auto;
        padding: 0px 15px;
    }

    .parallax {
        padding: 60px 0px;
    }
}

@media(min-width:575px) and (max-width:720px) {
    .parallax-content {
        width: 540px;
        margin: auto;
        padding: 0px 15px;
    }
}

@media (max-width:576px) {
    .parallax-content {
        width: 540px;
        margin: auto;
        padding: 0px 15px;
    }
}







/* parallax-CE */

.parallax-CE {
    background-image: url(https://demo.themefisher.com/bizcraft/images/parallax/parallax2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}

.CE-container {
    padding: 0px 15px;
}

.owl-item .img-ce img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid #fff;
    padding: 3px;
    z-index: 1;
    position: relative;
}

.parallax-CE::before {
    content: '';
    background-color: rgba(6, 6, 6, 0.6);
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.owl-item .about-ce p {
    font-size: 16px;
    font-weight: 500;
    max-width: 800px;
    padding: 30px 0px 0px;
    margin: 0px 0px 16px;
    color: #fff;
    z-index: 1;
    position: relative;
    display: inline-block;
}

.owl-item .about-ce h5 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}

.owl-item .about-ce h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    z-index: 1;
    position: relative;
}



@media (max-width:1200px) {
    .CE-container {
        width: 1140px;
        margin: auto;
        padding: 0px 15px;
    }
}

@media (min-width:992px) and (max-width:1140px) {
    .CE-container {
        width: 960px;
        margin: auto;
        padding: 0px 15px;
    }
}

@media (max-width:992px) {
    .CE-container {
        width: 960px;
        margin: auto;
        padding: 0px 15px;
    }
}

@media(min-width:767px) and (max-width:960px) {
    .CE-container {
        width: 720px;
        margin: auto;
        padding: 0px 15px;
    }

    .parallax-CE {
        padding: 60px 0px;
    }
}

@media (max-width:768px) {
    .CE-container {
        width: 720px;
        margin: auto;
        padding: 0px 15px;
    }

    .parallax-CE {
        padding: 60px 0px;
    }
}

@media(min-width:575px) and (max-width:720px) {
    .CE-container {
        width: 540px;
        margin: auto;
        padding: 0px 15px;
    }
}

@media (max-width:576px) {
    .CE-container {
        width: 540px;
        margin: auto;
        padding: 0px 15px;
    }
}






/* pricing plan */


.price-table .card {
    width: calc(25% - 30px);
    padding: 0px 15px;

}

.price-table .card .card-heading small {
    color: #959595;
    font-size: 12px;
    font-weight: 600;
}

.price-table .card .card-heading {
    text-align: center;
    padding: 20px 0px;

}

.price-table .card .card-h {
    border: 1px solid #dedede;
}

.price-table .card .card-p {
    text-align: center;
    background-color: #f2f2f2;
    font-size: 30px;
    /* margin-top: 15px; */
    margin-bottom: 30px;
    position: relative;
}


.price-table .card .card-p::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid #f2f2f2;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    display: inline-block;
    bottom: -30px;
    margin-left: -16px;

}

.card .card-p:hover {
    background-color: #81c81c;

}


.price-table .card .card-p span {
    padding: 30px 0px;
    display: block;
    color: #616161;
    font-size: 50px;
    font-weight: 600;
}

.price-table .card .card-p sub {
    font-size: 20px;
}

.price-table .card .card-p sup {
    font-size: 20px;
}

.price-table .card .card-btn {
    text-align: center;
    margin-bottom: -19px;
}

.price-table .card .card-btn a {
    padding: 8px 30px;
    display: block;
    border: 2px solid #81c81c;
    display: inline-block;
    border-radius: 50px;
    background-color: #fff;
    margin-top: 30px;
    color: #81c81c;
    font-weight: 600;
}

.price-table .card ul li {
    border-bottom: 1px dashed #dedede;
    padding: 12px 29px;
    color: #616161;
    font-size: 16px;
}

.card-heading h3 {
    color: #959595;
    font-size: 24px;
    font-weight: 600;
}

.card .card-btn a:hover {
    color: #fff;
    background-color: #81c81c;
    transition: 0.35s;
}

.pricing-plan {
    padding: 80px 0px;
}




@media (max-width:1200px) {
    .price-review {
        width: 1140px;
        margin: auto;
    }
}

@media (max-width:992px) {
    .price-review {
        width: 960px;
        margin: auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .price-review {
        width: 720px;
        margin: auto;
    }

    .price-table .card {
        width: calc(50% - 30px);
        padding: 0px 15px;
    }
}

@media (max-width:768px) {
    .price-review {
        width: 720px;
        margin: auto;
    }
}

@media (min-width:577px) and (max-width:769px) {
    .price-review {
        width: 540px;
        margin: auto;
    }

    .price-table .card {
        width: calc(100% - 30px);
        padding: 0px 15px;
        margin-bottom: 60px;
    }

}

@media (max-width:576px) {
    .price-review {
        width: 540px;
        margin: auto;
    }
}






/* logos */

.logos-sec {
    padding: 80px 0px;
}

.owl-logos {
    border: 1px solid #dedede;
    margin-right: 20px;
    padding: 10px;
}

.logos-container {
    padding: 0px 15px;
}

.row-logos .owl-logos:hover {
    border-color: #81c81c;
    transition: 0.5s;
}


@media (max-width:1200px) {
    .logos-container {
        width: 1200px;
        margin: auto;
    }
}

@media (min-width:993px) and (max-width:1199px) {
    .logos-container {
        width: 960px;
        margin: auto;
    }

    .owl-logos {
        margin-right: 60px;
        margin-left: 40px;
    }

}

@media (max-width:992px) {

    .logos-container {
        width: 960px;
        margin: auto;
    }

    .owl-logos {
        margin-right: 60px;
        margin-left: 40px;
    }
}

@media (max-width:768px) {
    .logos-container {
        width: 720px;
        margin: auto;
    }

    .owl-logos {

        margin-right: 80px;
        margin-left: 40px;
    }

}

@media (max-width:576px) {
    .logos-container {
        width: 540px;
        margin: auto;
    }
}








/* footer */

.footer {
    padding: 60px 0 100px;
    background-image: url(https://demo.themefisher.com/bizcraft/images/footer-bg.jpg);
    background-size: cover;
    color: #fff;
    font-size: 14px;
}

.footer-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.w-33 {
    width: calc(33.33% - 30px);
}

.col-footer-text {
    padding: 0px 15px;
}

.col-footer-text h3 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

.col-footer-text h4 {
    margin-bottom: 8px;
    font-weight: 600;
}

.col-footer-text h4:hover {
    color: #81c81c;
}

.col-footer-text p {
    font-size: 13px;
    margin: 16px 0px;
}

.col-footer-text span {
    padding-left: 10px;
}

.col-footer-img {
    padding: 0px 15px;
}

.col-footer-img h3 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

.foot-pics {
    margin-top: 5px;

}


.img-contain img {
    margin: 0 15px 15px 0;
    width: 95px;
    height: 85px;

}


.col-footer-id {
    padding: 0px 15px;
}

.col-footer-id h3 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

.col-footer-id p {
    max-width: 500;
    font-size: 16px;
    margin: 0px 0px 16px;
}

.col-footer-id h4 {
    color: #81c81c;
    font-size: 16px;
    font-weight: normal;
}

.footer .subscribe {
    margin-top: 20px;
}

.align-s {
    align-items: stretch;
}

.footer .subscribe {
    position: relative;
}

.form-control {
    width: 100%;
    padding: 6px 20px;
    height: 50px;
    background: none;
    color: #959595;
    font-size: 14px;
}

.group-addon {
    position: absolute;
    right: 0;
}

.btnf {
    padding: 13px 20px;
    background: none;
    color: #fff;
}

.btnf i {
    font-size: 20px;
}



@media (max-width:1200px) {
    .footer-container {
        width: 1140px;
        margin: auto;
    }
}

@media(min-width:993px) and (max-width:1169px) {
    .footer-container {
        width: 960px;
        margin: auto;
    }
}

@media (max-width:992px) {
    .footer-container {
        width: 960px;
        margin: auto;
    }
  
}

@media (min-width:769px) and (max-width:990px){
    .footer-container {
        width: 720px;
        margin: auto;
    }
    .col-footer-text{
        width:85%;
    }
    .col-footer-img{
        width:65%;
    }
    .col-footer-id{
        width:100%;
    }
}

@media (max-width:768px) {

    .footer-container {
        width: 720px;
        margin: auto;
    }
}

@media (max-width:576px) {
    .footer-container {
        width: 540px;
        margin: auto;
    }
}







/* copyright */

#copyright {
    padding: 30px 0;
    background: #191919;
    color: #fff;
}

.copy {
    width: 1140px;
    margin: auto;
}

.cp-text {
    padding: 0px 15px;
    text-align: center;
}

.cp-text ul li i {
    width: 40px;
    height: 24px;
}

.cp-info {
    padding: 0px 15px;
    text-align: center;
}

.copy-info {
    font-size: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    max-width: 850px;
    margin: 30px auto 0;
    padding-top: 15px;
}

.copy-info span {
    color: #81c81c;
}